<%= render partial: 'shared/headerpart' %>

</br>
</br>
<h2>Your Cart </h2>
<table>

  <% if @mycart.empty? %>
  <p>Your cart is empty </p>

  <% else %>
  <% total = 0%>
  <% prodTotal = 0 %>
  <% @mycart.each do |val| %>


    <% @products_all.each do |product| %>
      <% if product.id == val['id']%>
       <tr>

         <td><b>Product:</b> <%=product.name %> </td>
         <tr><td> <b>Quantity:</b> <%= val['q'] %> </td></tr>
         <% prodTotal = val['q'].to_d * product.sale_price %>

         <% total += prodTotal %>


       </tr>

      <% end %>

    <% end %>

  <% end %>
  
  <tr><td> <b>Sub Total:</b> <%= total %> </td></tr>
  <tr><td> <b>PST:</b> <%= @you_ppst %> </td></tr>
  <tr><td> <b>GST:</b> <%= @you_ggst %> </td></tr>
  <tr><td> <b>Total:</b> <%= @grandtot %> </td></tr>
  <td>  <%= submit_tag "Proceed to Pay" %></td>

  <% end %>


</table>
<%= render partial: 'shared/footer' %>
