<%= render partial: 'shared/headerpart' %>

</br></br>

<h3>Products</h3>
<div class="container">
  <div class="row">

        <% @products_all.each do |product| %>

          <% if product.category_id == @item.to_i %>
          <div class="col-lg-4 mb-4">
              <div class="card h-100">
              <h4 class="card-header"><b><%= link_to product.name, pp_path(product.id)%></b></h4>
              <div class="card-body">
                <%= link_to (image_tag product.productImage), pp_path(product.id) %>
              </div>
              <div class="card-footer">
                <%= link_to product.productDescription, pp_path(product.id) %></div>
            </div>
         </div>
          <% end %>

        <% end %>

  </div>
</div>
<%= render partial: 'shared/footer' %>
