<h3>Products</h3>

<table>
 <% @products_all.each do |product| %>
 <tr><%= link_to (image_tag product.productImage), pp_path(product.id) %></tr>
 <tr><h4><b><%= link_to product.name, pp_path(product.id)%></b></h4></tr>

   <% if(product.productPrice > product.sale_price) %>
      <tr><strike>$ <%= product.productPrice %> CAD</strike></tr>
        <tr><h5><b>$ <%= product.sale_price  %> CAD</b></h5></tr>
      </tr>
   <% else %>
      <tr><h5><b>$ <%= product.sale_price  %> CAD</b></h5></tr>
   <% end %>
 </br>
 <% end %>
</table>
