  <%= render partial: 'shared/headerpart' %>
</br></br>

<div class="container">
  <div class="row">
    <% @products_all.each do |product| %>
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
        <h4 class="card-header"><b><%= product.name%></b></h4>
        <div class="card-body"><%= image_tag product.productImage %></div>
        <div class="card-footer"> $<%= product.productPrice%> CAD</div>

        <% @quantity_array = [] %>
        <% i = 0 %>

        <% product.productStockQuantity.times { @quantity_array << i+=1} %>

        <%= form_tag cart_path(id: product.id), method: 'post' do %>

           <%= select_tag "quantity", options_for_select(@quantity_array) %>
           <%= submit_tag "Add to cart" %>
         </div>
      </div>
        <% end %>

    <% end %>
  </div>
</div>
<%= render partial: 'shared/footer' %>
