<table>
 <% @products_all.each do |product| %>
 <tr><h4><b><%= product.productName%></b></h4></tr>
 <tr><p><%= image_tag product.productImage %></p></tr>
 <tr><h5><b> $<%= product.productPrice%> CAD</b></h5></tr>
 <!-- <tr><p><%= product.productDescription %></p></tr> -->
 <% end %>

 <%= form_tag cart_path, method: 'post' do %>
   <%= submit_tag "Add to cart" %>
 <% end %>

</table>
