<%= render partial: 'shared/headerpart' %>
</br></br>
<h2>Search Results</h2>
<div class="container">
  <div class="row">


  <% if @found_products.empty? %>
  <p>No results found </p>
  <% end%>
  <% else %>
  <% @found_products.each do |product| %>
  <div class="col-lg-4 mb-4">
      <div class="card h-100">
  <h4 class="card-header"><b><%= product.name%></b></h4>
  <div class="card-body"><%= image_tag product.productImage %></div>
  <div class="card-footer"><%= product.productDescription %></div>
</div>
</div>
  <% end %>
</div>
</div>
  <%= render partial: 'shared/footer' %>
